<!doctype html>
<html lang="{{ shop.locale }}" class="no-js" {% if settings.rtl %}dir="rtl"{% endif %}>
<head>
	<meta charset="utf-8">
	{% capture seo_title %}
	{{ page_title }}
	
	{% unless page_title contains shop.name %}
	&ndash; {{ shop.name }}
	{% endunless %}
	{% endcapture %}
	
	<title>{{ seo_title }}</title>
	
	{%- if canonical_url != blank  -%}
		<link rel="canonical" href="{{ canonical_url }}">
	{%- endif -%}

	
	{%- if settings.favicon.size != blank -%}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{%- endif -%}
	
	{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
	{%- endif -%}
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	
	<!-- CSS -->
	{% include 'variables' %}
	{{ 'theme.css' | asset_url | stylesheet_tag }}
	
	{% if settings.rtl %}
		{{ 'rtl.scss.css' | asset_url | stylesheet_tag }}
	{% endif %}
	
	
	{%- if request.page_type contains  'collection' -%}
		{{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
	{%- endif -%}
	
	<!-- JS -->
	
	<script>
		var theme = {
			moneyFormat: {{ shop.money_format | json }},
			shopCurrency: {{ shop.currency | json }},
			moneyFormatCurrency: {{ shop.money_with_currency_format | json }}
		};
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>
	
	<script src="{{ 'jquery.min.js' | asset_url }}"></script>
	
	{%- if request.page_type contains 'customers' -%}
		{{ 'shopify_common.js' | shopify_asset_url | script_tag | remove: ' type="text/javascript"' }}
		{{ 'customer_area.js'  | shopify_asset_url | script_tag | remove: ' type="text/javascript"' }}
	{%- endif -%}
	
	<!-- SHOPIFY SERVICE SCRIPTS -->
	{{ content_for_header }}
</head>

<body class="template-{{ template | split: '.' | first }} {{ settings.color_scheme }} {% if settings.rtl %}rtl{% endif %}">
<main class="page_wrapper">
	
	<div id="page_preloader__bg">
		<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	</div>
	
	<script>
		
		preloaderBg = document.getElementById('page_preloader__bg');
		
		window.addEventListener('load', function() {
			preloaderBg.classList.add("off");
		});
	
	</script>
	
	{% if template == 'password' or template == 'page.password' %}
		{{ content_for_layout }}
	{% else %}
		{% section 'helper' %}
		
		
		{% case settings.header_type %}
		{% when '1' %}
		{%- capture var_header -%}{% section 'header-1' %}{%- endcapture -%}
		{% when '2' %}
		{%- capture var_header -%}{% section 'header-2' %}{%- endcapture -%}
		{% when '3' %}
		{%- capture var_header -%}{% section 'header-3' %}{%- endcapture -%}
		{% when '4' %}
		{%- capture var_header -%}{% section 'header-4' %}{%- endcapture -%}
		{% when '5' %}
		{%- capture var_header -%}{% section 'header-5' %}{%- endcapture -%}
		{% endcase %}
		
		{{ var_header }}
		
		<div class="page_container">
			
			{% unless template == 'index' or template == 'collection.fullwidth' or template == 'page.about-us' or template == 'page.about-us-creative' or template == 'page.contact' %}
			<div class="container">
				{% endunless %}
				
				{% unless template == 'index' %}
				{% include 'snippet-breadcrumbs' %}
				{% endunless %}
				
				{%- assign sidebar_on = false -%}
				{% case template %}
				{% when 'search', 'list-collection', 'page.wishlist', 'gift_card', 'page' %}
				{% if settings.sidebar_toggle %}
					{%- assign sidebar_on = true -%}
				{% endif %}
				{% endcase %}
				{% case template %}
				{% when 'search', 'list-collection', 'page.wishlist', 'gift_card', 'page' %}
				<div class="collection-wrapper"></div>
				{% endcase %}
				{% if sidebar_on %}
				<div class="sidebar-enable row{% if settings.sidebar_position == 'sidebar_right' %} justify-content-md-end{% endif %}">
					{% endif %}
					<div class="main_content{% if template == 'collection.fullwidth' %} mt-0{% endif %}{% if sidebar_on %} sidebar_on col-12 col-md-9{% if settings.sidebar_position == 'sidebar_left' %} left-sidebar{% elsif settings.sidebar_position == 'sidebar_right' %} right-sidebar{% endif %}{% endif %}">
						{{ content_for_layout }}
					</div>
					{% if sidebar_on %}
						<div class="sidebar_small col-12 col-md-3">
							{% section 'template-sidebar' %}
						</div>
					{% endif %}
					{% if sidebar_on %}
				</div>
				{% endif %}
				{% unless template == 'index' %}
			</div>
			{% endunless %}
		</div>
		
		
		{% case settings.footer_type %}
		{% when '1' %}
		{% section 'footer-1' %}
		{% when '2' %}
		{% section 'footer-2' %}
		{% when '3' %}
		{% section 'footer-3' %}
		{% when '4' %}
		{% section 'footer-4' %}
		{% endcase %}
		
		
		<a id="back_top" href="#">
			<svg width="16" height="13" viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg"><path d="M8 4L7 5L4 2L1 5L0 4L4 0L8 4Z" /></svg>
		</a>
		
		{% if settings.newsletter_popup_toggle %}
			{% include 'widget-newsletter-popup' %}
		{% endif %}
	{% endif %}
</main>


{%- include "header-currency-script" -%}

{%- include "include_script_js" -%}

{%- if settings.hide_pb_toggle -%}
	<style>
		#preview-bar-iframe {
			display: none!important;
		}
		
		html {
			padding-bottom:0!important;
		}
	
	</style>

{%- endif -%}

</body>

</html>
     